USE [recruitmentAndJobApplicationSystem]
GO
/****** Object:  Table [dbo].[Com_cert_info]    Script Date: 2023/6/8 0:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Com_cert_info](
	[TRCN] [varchar](20) NOT NULL,
	[OC] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
